<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
	</head>
	<body>
		<div id="header">
			<h1>Welcome to MemeTube</h1>
		</div>
		<h4><i>The place where you can find the greatest memes and vine videos</i></h4>
		<a href="/memes/new">Click here to add a new video!</a>
		<br>
		<br>
		<%= yield %> 
		<br>
		<p><a href="/memes">Home</a></p>
	</body>
</html>