<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>Welcome to MemeTube</h1>
	<h4>The plce where you can find the greatest memes and vine videos</h4>
	<a href="/memes/new">Click here to add a new video!</a>
	<%= yield %> 

</body>
</html>