html{
	background: url("../../images/points.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	font-family: 'Comfortaa', cursive;
	margin: 0 auto;
	text-align: center;
	color: white;
} 
h1 {
	padding-top: 20px;
}

#header {
	background-color: rgba(0,0,0,0.7);
	height: 80px;
	margin-top: -21px;
	border-bottom-style: groove;
	border-color: rgb(35,99,195);
	border-width: 8px;
}

a { 
	color: inherit; 
	text-decoration: none;
}

a:hover {
    color: rgb(35,99,195);
}



#vids {
	background-color: rgba(0,0,0,0.4);
    width: 800px;
    margin: 0 auto;
    border-style: groove;
        border-radius: 15px;
}
